USE [master]
GO
/****** Object:  Database [SituationReportDB]    Script Date: 24.3.2023. 23:29:49 ******/
CREATE DATABASE [SituationReportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SituationReportDB', FILENAME = N'C:\Users\brank\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\SituationReportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SituationReportDB_log', FILENAME = N'C:\Users\brank\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\SituationReportDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SituationReportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SituationReportDB]
GO
/****** Object:  Table [dbo].[Causes]    Script Date: 24.3.2023. 23:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Causes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[Description] [nvarchar](2048) NULL,
 CONSTRAINT [PK__Causes__3214EC07A177DD76] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institutions]    Script Date: 24.3.2023. 23:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institutions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 24.3.2023. 23:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CauseId] [int] NOT NULL,
	[DateAndTime] [datetime] NOT NULL,
	[Location] [nvarchar](300) NULL,
	[Latitude] [decimal](12, 9) NULL,
	[Longitude] [decimal](12, 9) NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](2048) NOT NULL,
	[Pic1] [nvarchar](80) NULL,
	[Pic2] [nvarchar](80) NULL,
	[Pic3] [nvarchar](80) NULL,
 CONSTRAINT [PK__Reports__3214EC07D77B958A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.3.2023. 23:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Causes] ON 

INSERT [dbo].[Causes] ([Id], [InstitutionId], [Description]) VALUES (1, 1, N'Oštećena javna rasveta')
INSERT [dbo].[Causes] ([Id], [InstitutionId], [Description]) VALUES (2, 1, N'Srušen saobraćajni znak')
INSERT [dbo].[Causes] ([Id], [InstitutionId], [Description]) VALUES (3, 1, N'Nepravilno odlaganje smeća')
SET IDENTITY_INSERT [dbo].[Causes] OFF
GO
SET IDENTITY_INSERT [dbo].[Institutions] ON 

INSERT [dbo].[Institutions] ([Id], [Name], [Email], [Phone]) VALUES (1, N'Gradska komunalna inspekcija', N'1komunalna.policija@inspekcija.novisad.rs', N'021/4872 544')
INSERT [dbo].[Institutions] ([Id], [Name], [Email], [Phone]) VALUES (2, N'JKP Gradsko zelenilo Novi Sad', N'2marketing@zelenilo.com', N'021 21 00 266')
INSERT [dbo].[Institutions] ([Id], [Name], [Email], [Phone]) VALUES (3, N'JKP Zoohigijena i veterina Novi Sad', N'3prihvatiliste.novisad@zoohigijenans.co.rs', N'021 640 3220')
SET IDENTITY_INSERT [dbo].[Institutions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([Id], [UserId], [CauseId], [DateAndTime], [Location], [Latitude], [Longitude], [Title], [Description], [Pic1], [Pic2], [Pic3]) VALUES (1, 1, 1, CAST(N'2023-02-03T23:39:31.067' AS DateTime), N'Bukovac, Nikole Tesle', NULL, NULL, N'Ne radi ulicna rasveta', N'Nema ulicnog svetla u ulici Nikole Tesle', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email]) VALUES (1, N'joj', N'joj@example.com')
INSERT [dbo].[Users] ([Id], [Name], [Email]) VALUES (2, N'Branko Bjelic', N'branko.bjelic@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Causes]  WITH CHECK ADD  CONSTRAINT [FK__Causes__Institut__4AB81AF0] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Causes] CHECK CONSTRAINT [FK__Causes__Institut__4AB81AF0]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK__Reports__CauseId__412EB0B6] FOREIGN KEY([CauseId])
REFERENCES [dbo].[Causes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK__Reports__CauseId__412EB0B6]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK__Reports__UserId__403A8C7D] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK__Reports__UserId__403A8C7D]
GO
USE [master]
GO
