.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 14px;
	overflow:auto;


    width: 90vw;
	min-width: 300px;
	max-width: 600px;

	max-height: 90vh;
}
.imageBig {
	display: flex;
	width: 100%;
	max-width: 100%;
	max-height: 600px;
	object-fit:contain;
	
}
.break {
	flex-basis: 100%;
	height: 0;
  }

  .centeringDiv {
	text-align: center;
  }

.form-style-1 {
	margin:10px auto;
	/*max-width: 600px;*/
	padding: 20px 10px 10px 10px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email], 
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
	
}

textarea {
    font-family: "Tahoma", "Arial", "Arabic Transparent";
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	resize: none;
	height: 200px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

.button {
 
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.5rem 2rem;
    margin: 0.5rem;

    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }

  .button:hover,
.button:active {
  background-color: #2c0d00;
}

.hiddenFileInput > input	{
	height: 100%;
	width: 100;
	opacity: 0;
	cursor: pointer;
}
  .hiddenFileInput	{
	border: 1px solid #ccc;
	width: 90px;
	height: 90px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	margin-right: .5rem;
	background: center center no-repeat;
  background-size: 75% 75%;
  background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACPklEQVR4nO2YP0gcQRTGf5rOP42VQSRNFBHTHAQUmytCojZ2JgS1MI2JkMLybBQtbFJYJUUsjWAsLA7TJRDEgEVqFVRsBC+FhQFzoLcy8BaGdXdvbr273Q3zwWtu3uy87+Z7780MWFhYWFhY/KeYBA6AEuDEZCVgH5ioNPjhGIN2AmyoEgLrCQjY8dhaJQR+aBPfEh/eaXGomCIRyBIfspYA4TvgVqoL4CvQnqYdGPZJtF2ggZQQWA+oFt2khMBaAIEuqoeslRDhSTwhrV4l8UbakrgeyFoC2B24gyZgBvgEzAGdpEhCfcCRp+xeAq/SQOAp8Cfk4jJbTwLquPAa+CxSGCnzvRfAX4Mz/0I9CLQB330W3xB9e/ESKBpeWs6BUW1uL/AbuK4Wgcdy+gwKYM/TzKaBG4PAd+TK2BgQz0Ng7L4EBkM0rNsp8EQqTDnfoty69BNsqyT7APCokqDDCCgZXBnKwA3MxGdIW7MfyAP/PH7HQA5ojkpgq0ZPK0peyL+/ZLDGIdAThUAt7Kcmm0WfcbULJz6/nwEdSSDwXJNNyWf8g+SC39x83AQKwANZJx/gMy/jQd/IlCPwpYYEtmWNFp+ENSWgZBfb0+JHWUOVWr0irQDLYs/EZ1mzX5r/pomM3NtWtSuQqjiu/h2xE9F8GN5r/t9IAFSTciJKaJWE4CgigXESglwEAgUDudUNzdJh/V74dM3r9oaEoUc6rEkBUA0ukegIaWqubKZIATLSpDal4a1KOU+M5i3w4BZ+tJlzrplQSwAAAABJRU5ErkJggg==)
}
.hiddenFileInput img{
		width:100%;
		height:100%;
		object-fit: contain;
}

.imgUploads {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.locationDiv {
	display:flex; 
    flex-flow:row wrap;
}

.locationDiv input {
	flex: 1;
}

.locationDiv button {
	float: right;
	margin-left: 10px;
}

.boxclose{
    float:right;
    margin-top:-13px;
    margin-right:-4px;
	margin-bottom: 3px;
	color:grey
    /* cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    background: #605F61;
    font-size: 28px;
    font-weight: bold;
    display: block;
    line-height: 0px;
    padding: 15px 3px;        */
}


