.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  position:relative;
  border-radius: 14px;
}
.header h1 {
  float: left;
  color: black;
  padding: 0.75rem 3rem;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.username {
  float: right;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

  .button {
    float: right;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #1f464d;
    color: white;
    padding: 0.75rem 3rem;

    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }

  .button:hover,
.button:active {
  background-color: #071f2f;
}

.userImage {
  float: right;
  border-radius: 50%;
  padding: 5px;
  width: 40px; 
}

.menuItem {
  position: absolute;
  bottom:0;
  right: 0;
  cursor: pointer;
  margin: 0.5rem
}