ul {
    text-align: justify;
    padding-left: 0;
    color: black;
    list-style: none;
    
}
.reportItem {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightgrey;
    border-radius: 14px;
}

.liFooter {
    display:flex; 
    flex-flow:row wrap;
}

.penIcon {
    cursor: pointer;
    margin-right: 1rem;
}

.trashIcon {
    cursor: pointer;
}

.alignRight {
    width: 25%;
    text-align: right;
    margin-bottom: 0;
    display: inline-block;
    align-self: flex-end;
}

.alignLeft {
    width: 75%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.liHeader {
    margin-top: 0;
    margin-bottom: 0;
}

.paginationDiv {
    text-align: center;
    margin: 1rem;

}